<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Print log to api-service.log -->
    <springProfile name="dev">
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>api-service.log</file>
            <encoder>
                <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>api-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>1MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>10MB</totalSizeCap>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </root>
    </springProfile>

    <!-- Send log to logstash via socket -->
    <springProfile name="test,prod">
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST:-localhost:5600}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "appName": "api-service"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="logstash"/>
    </root>
    </springProfile>
</configuration>